<div class="parallax"></div>

<div style="height:400px;background-color:#E8E8E8;font-size:36px">
<table>
<tr>
<td>
<div class="container" style="width: 500px;padding:40px;margin-left:20px;height:300px;">

<div class="row" style="width:450px;height:300px;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" >
     <div class="carousel-inner">


       <div class="item active">
         <img src="../../assets/jenkins.jpg" alt="jenkins"style="width:100%;" >
       </div>

       <div class="item">
         <img src="../../assets/terraform.png" alt="terraform"style="width:100%;" >
       </div>

      <div class="item">
        <img src="../../assets/packer.png" alt="packer"style="width:100%;" >
      </div>
     </div>
  </div>
</div>

 
</div>
</td>
<td>
  <div class="container" style="width: 300px;padding:30px;margin-left:10px;">
    <h5>Accelerator-1</h5>
    <a href="#" class="btn btn-primary">Git link</a>
  </div>

</td>
</tr>
</table>
</div>


<div class="parallax2"></div>

<div style="height:500px;background-color:#E8E8E8;font-size:36px">
<table>
<tr>
<td>
<div class="card" style="width: 300px;padding:10px 10px 10px 10px;">

<div class="row" style="width:100%">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" >
     <div class="carousel-inner">


       <div class="item active">
         <img src="../../assets/jenkins.jpg" alt="jenkins"style="width:100%;" >
       </div>

       <div class="item">
         <img src="../../assets/terraform.png" alt="terraform"style="width:100%;" >
       </div>

      <div class="item">
        <img src="../../assets/packer.png" alt="packer"style="width:100%;" >
      </div>
     </div>
  </div>
</div>

  <div class="card-body">
    <h5 class="card-title">Accelerator-1</h5>
    <a href="#" class="btn btn-primary">Git link</a>
  </div>
</div>
</td>
<td>
<p>hihihi</p>
</td>
</tr>
</table>
</div>


<div class="parallax4"></div>

<div style="height:400px;background-color:#E8E8E8;font-size:36px">
<table>
<tr>
<td>
<div class="card" style="width: 300px;padding:30px;margin-left:10px;">

<div class="row" style="width:100%">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" >
     <div class="carousel-inner">


       <div class="item active">
         <img src="../../assets/jenkins.jpg" alt="jenkins"style="width:100%;" >
       </div>

       <div class="item">
         <img src="../../assets/terraform.png" alt="terraform"style="width:100%;" >
       </div>

      <div class="item">
        <img src="../../assets/packer.png" alt="packer"style="width:100%;" >
      </div>
     </div>
  </div>
</div>

  <div class="card-body">
    <h5 class="card-title">Accelerator-1</h5>
    <a href="#" class="btn btn-primary">Git link</a>
  </div>
</div>
</td>
<td>
<p>hhh</p>
</td>
</tr>
</table>

</div>

<div class="parallax3"></div>

<div style="height:400px;background-color:#E8E8E8;font-size:36px">
<table>
<tr>
<td>
<div class="card" style="width: 300px;padding:30px;margin-left:10px;">

<div class="row" style="width:100%">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" >
     <div class="carousel-inner">


       <div class="item active">
         <img src="../../assets/jenkins.jpg" alt="jenkins"style="width:100%;" >
       </div>

       <div class="item">
         <img src="../../assets/terraform.png" alt="terraform"style="width:100%;" >
       </div>

      <div class="item">
        <img src="../../assets/packer.png" alt="packer"style="width:100%;" >
      </div>
     </div>
  </div>
</div>

  <div class="card-body">
    <h5 class="card-title">Accelerator-1</h5>
    <a href="#" class="btn btn-primary">Git link</a>
  </div>
</div>
</td>
<td>
<p>hihih</p>
</td>
</tr>
</table>

</div>
