<app-header></app-header>
<br><br><br>
<div class="card-deck">
  	<div class="card">
    	<img class="card-img-top" src="../../assets/aks1.png" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Azure Kubernetes Service</h5>
                <a href="https://github.com/Devops-Accelerators/AKS-Terraform.git" type="button" class="btn btn-outline-success">Visit</a>
      
    	</div>
  	</div>
  	<div class="card">
    	<img class="card-img-top" src="../../assets/eks1.png" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Elastic Container Service for Kubernetes</h5>
                <a href="https://github.com/Devops-Accelerators/EKS-Terraform.git" type="button" class="btn btn-outline-success">Visit</a>
    	</div>
  	</div>
	 <div class="card">
        <img class="card-img-top" src="../../assets/pck.png" alt="Card image cap">
        <div class="card-body">
                <h5 class="card-title">Packer</h5>
                <a href="https://github.com/Devops-Accelerators/Packer.git" type="button" class="btn btn-outline-success">Visit</a>
        </div>
        </div>

  
</div>
<br><br><br>
