<app-header></app-header>
<br><br><br>

 <h1 class="display-4" style="font-weight:bolder;padding-left:15px">DevOps Accelerators</h1>
<br>


<div class="card-deck" style="padding:15px">
	 <div class="card border-secondary bg-light mb-0">
    		<img src="../../assets/main.png" class="card-img-top" alt="...">
    		<div class="card-body">
      			<h5 class="card-title">CI-CD pipeline using Jenkins</h5>
      			<p class="card-text">The accelerator uses Jenkins as an orchestrator to create AMI and instances as well as pipeline Provisioning purpose.</p>
                         <button class="btn btn-outline-success" routerLink="/accljenkins">Visit</button>
      		</div>
 	 </div>

	  <div class="card border-secondary bg-light mb-0">
    		<img src="../../assets/open1.png" class="card-img-top" alt="...">
    		<div class="card-body">
      			<h5 class="card-title">Deploy war file using Open-shift and Helm chart</h5>
      			<p class="card-text">The accelerator uses  managed Kubernetes to deploy application on different platforms.</p>
       			<button class="btn btn-outline-success" routerLink="/acclopenshift">Visit</button>
     	       </div>
  	</div>

 <div class="card border-secondary bg-light mb-0">
  	  <img src="../../assets/kub2.png" class="card-img-top" alt="...">
          <div class="card-body">
        	<h5 class="card-title">IAAC using terraform and Packer</h5>
     		 <p class="card-text">The accelerator uses terraform and packer as IAAC to create kubernetes cluster and packer to create AMI.</p>
 		<button class="btn btn-outline-success" routerLink="/acclkube">Visit</button>
         </div>
 </div>

   <div class="card border-secondary bg-light mb-0">
                <img src="../../assets/elk2.png" class="card-img-top" alt="...">
                <div class="card-body">
                        <h5 class="card-title">Container based standard Enterprise Logging - ELK</h5>
                        <p class="card-text">A templatized ELK setup for centralized logging across Application, Load Balancer, Webserver & Infra. Using pre-defined Logstash patterns for log parsing and actionable analysis</p>
                        <a href="https://github.com/Jay-Wani/elastic-docker.git" type="button" class="btn btn-outline-success">Visit</a>
                </div>
         </div>
</div>
<div class="card-deck" style="padding:15px">
 <div class="card border-secondary bg-light mb-0">
   <img src="../../assets/dotnet.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Azure Devops pipeline for dotnet application.</h5>
    <p class="card-text">The accelerator aims to create a CI/CD pipeline for dotnet application and integrates sonarcloud and NuGet to it.</p>
     <a href="https://github.com/Devops-Accelerators/pipelines-dotnet-core.git" type="button" class="btn btn-outline-success">Visit</a>
  </div>
</div>

<div class="card border-secondary bg-light mb-0">
   <img src="../../assets/apf.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Python flask sample app</h5>
    <p class="card-text"></p>
     <a href="https://github.com/ameet-nandihal/python-flask-sample-app.git" type="button" class="btn btn-outline-success">Visit</a>
  </div>
</div>
 <div class="card border-secondary bg-light mb-0">
   <img src="../../assets/devsecops.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">DevSecOps</h5>
    <p class="card-text">The accelerator aims to run pipeline in a more secured way using trufflehog, WASP,Zap testing and Archerysec to monitor the report of vulnerabilities in the code</p>
     <a href="https://github.com/Devops-Accelerators/Security_check_pipeline.git" type="button" class="btn btn-outline-success">Visit</a>
  </div>
</div>
 <div class="card border-secondary bg-light mb-0">
   <img src="../../assets/azure_java.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Azure Devops pipeline for java application</h5>
    <p class="card-text"></p>
     <a href="https://github.com/Devops-Accelerators/mtkcc.git" type="button" class="btn btn-outline-success">Visit</a>
  </div>
</div>
<br>

<br><br><br>
</div>
<br>

<br><br><br>
