<app-header></app-header>
<br><br><br>

<div class="card-deck">
  	<div class="card">
    	<img class="card-img-top" src="../../assets/helm1.png" alt="helm chart">
	<div class="card-body">
		<h5 class="card-title">Helm Charts</h5>
		<p class="card-text">Package manager for Kubernetes</p>
                <a href="https://github.com/Devops-Accelerators/HelmCharts.git" type="button" class="btn btn-outline-success">Visit</a>
            
    	</div>
  	</div>
  	<div class="card">
    	<img class="card-img-top" src="../../assets/estio.png" alt="istio">
	<div class="card-body">

		<h5 class="card-title">Istio</h5>
		<p class="card-text">Connecting, securing, controlling, and observing services.</p>
                <a href="https://github.com/Devops-Accelerators/istio-gcp.git" type="button" class="btn btn-outline-success">Visit</a>

        </div>
        </div>
 <div class="card">
        <img class="card-img-top" src="../../assets/openshift1.png" alt="Card image cap">
        <div class="card-body">

                <h5 class="card-title">OpenShift</h5>
		<p class="card-text">Cloud development Platform as a Service</p>
                <a href="https://github.com/Devops-Accelerators/OpenShift-AWS.git" type="button" class="btn btn-outline-success">Visit</a>

        </div>
        </div>

</div>
<br><br><br>
